* {
  transition: all 0.15s ease-in; }

body {
  background: #9688F9; }

@font-face {
  font-family: "Bebas Neue";
  font-style: thin;
  font-weight: 100;
  src: local("Bebas Neue");
  src: url("../Fonts/BebasNeue Thin.otf"); }

@font-face {
  font-family: "Bebas Neue";
  font-style: light;
  font-weight: 300;
  src: local("Bebas Neue");
  src: url("../Fonts/BebasNeue Light.otf"); }

@font-face {
  font-family: "Bebas Neue";
  font-style: regular;
  font-weight: 400;
  src: local("Bebas Neue");
  src: url("../Fonts/BebasNeue Regular.otf"); }

@font-face {
  font-family: "Bebas Neue";
  font-style: bold;
  font-weight: 700;
  src: local("Bebas Neue");
  src: url("../Fonts/BebasNeue Bold.otf"); }

.price {
  margin: auto;
  width: auto;
  max-width: 1415px;
  padding-top: 30px;
  height: 1000px; }

.container {
  height: 692px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: center; }
  .container .left, .container .center, .container .right {
    width: 330px;
    height: 612px;
    background-color: #F5F4F9;
    margin-top: 50px;
    margin-left: 25px;
    position: relative; }
    .container .left .popular, .container .center .popular, .container .right .popular {
      display: none; }
      .container .left .popular .circle1, .container .center .popular .circle1, .container .right .popular .circle1 {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #fd8d7b;
        border: 1px solid #fd8d7b; }
      .container .left .popular .circle2, .container .center .popular .circle2, .container .right .popular .circle2 {
        position: absolute;
        right: 14px;
        top: 14px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fd8d7b;
        border: 2px solid #fd8d7b; }
      .container .left .popular .circle3, .container .center .popular .circle3, .container .right .popular .circle3 {
        position: absolute;
        right: 25px;
        top: 25px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fd8d7b;
        border: 2px solid #fd8d7b;
        font-size: 24px;
        line-height: 45px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Bebas Neue";
        text-align: center; }
      .container .left .popular .text--popular, .container .center .popular .text--popular, .container .right .popular .text--popular {
        text-align: center;
        width: 100px;
        height: 30px;
        background-color: #3b4040;
        border-radius: 30px;
        top: 18px;
        right: -35px;
        position: absolute;
        z-index: 3;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Bebas Neue";
        transform: translate(50%, 50%); }
      .container .left .popular .text--popular:before, .container .center .popular .text--popular:before, .container .right .popular .text--popular:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 76px;
        top: calc(50% - 15px);
        border-top: 15px solid transparent;
        border-right: 30px solid #3b4040;
        border-bottom: 15px solid transparent; }
    .container .left .text--price, .container .center .text--price, .container .right .text--price {
      height: 45px;
      text-align: center;
      margin-top: 40px;
      display: flex;
      justify-content: center; }
      .container .left .text--price .price--dollar, .container .center .text--price .price--dollar, .container .right .text--price .price--dollar {
        font-size: 24px;
        letter-spacing: 2px;
        color: #181818;
        font-weight: 100;
        font-family: "Bebas Neue";
        transform: translate(0, -15%); }
      .container .left .text--price .price--num, .container .center .text--price .price--num, .container .right .text--price .price--num {
        font-size: 60px;
        letter-spacing: 5px;
        line-height: 36px;
        color: #181818;
        font-weight: 200;
        font-family: "Bebas Neue"; }
      .container .left .text--price .price--end, .container .center .text--price .price--end, .container .right .text--price .price--end {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 36px;
        color: #181818;
        font-weight: 300;
        font-family: "Bebas Neue";
        transform: translate(0, 30%); }
    .container .left .head, .container .center .head, .container .right .head {
      font-size: 24px;
      letter-spacing: 1px;
      color: #181818;
      font-weight: 400;
      font-family: "Bebas Neue";
      margin-top: 20px;
      text-align: center; }
    .container .left .icons, .container .center .icons, .container .right .icons {
      position: absolute;
      font-size: 30px;
      letter-spacing: 2px;
      line-height: 36px;
      color: #181818;
      z-index: 2;
      left: 44%;
      top: 31%; }
    .container .left .list, .container .center .list, .container .right .list {
      list-style-type: none;
      position: absolute;
      z-index: 2;
      left: 30%;
      top: 41%;
      font-size: 16px;
      line-height: 50px;
      color: #181818;
      font-weight: 300;
      font-family: "Roboto"; }
    .container .left .inner--top, .container .center .inner--top, .container .right .inner--top {
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      top: 25.5%;
      background: #FFFFFF;
      border-radius: 50%;
      z-index: 1; }
    .container .left .inner--bot, .container .center .inner--bot, .container .right .inner--bot {
      position: absolute;
      width: 100%;
      height: 40%;
      left: 0;
      top: 50%;
      background: #FFFFFF;
      z-index: 1; }
    .container .left .bottom--text, .container .center .bottom--text, .container .right .bottom--text {
      font-size: 11px;
      line-height: 53px;
      color: #a9a9a9;
      font-weight: 300;
      font-family: "Roboto";
      position: absolute;
      z-index: -1;
      top: 88%;
      left: 30%; }
    .container .left .button, .container .center .button, .container .right .button {
      text-align: center;
      width: 205px;
      height: 55px;
      background-color: #6FCFFB;
      border-radius: 55px;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 2;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 53px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Bebas Neue"; }
  .container .left:hover, .container .center:hover, .container .right:hover {
    width: 370px;
    height: 692px; }
  .container .left:hover .button, .container .center:hover .button, .container .right:hover .button {
    background-color: #FD8D7B;
    top: 85%;
    transform: translate(-50%, -50%); }
  .container .left:hover .inner--bot, .container .center:hover .inner--bot, .container .right:hover .inner--bot {
    top: 45%; }
  .container .left:hover .bottom--text, .container .center:hover .bottom--text, .container .right:hover .bottom--text {
    z-index: 2; }
  .container .center:hover .popular {
    display: block; }
