
@font-face {
    font-family: "Bebas Neue";
    font-style: thin;
    font-weight: 100;
    src:local("Bebas Neue");
    src:url("../Fonts/BebasNeue\ Thin.otf");
}
@font-face {
    font-family: "Bebas Neue";
    font-style: light;
    font-weight: 300;
    src:local("Bebas Neue");
    src:url("../Fonts/BebasNeue\ Light.otf");
}
@font-face {
    font-family: "Bebas Neue";
    font-style: regular;
    font-weight: 400;
    src:local("Bebas Neue");
    src:url("../Fonts/BebasNeue\ Regular.otf");
}
@font-face {
    font-family: "Bebas Neue";
    font-style: bold;
    font-weight: 700;
    src:local("Bebas Neue");
    src:url("../Fonts/BebasNeue\ Bold.otf");
}
.price {
margin: auto;
width:auto;
max-width: 1415px;
padding-top: 30px;
// padding-left: 50px;
// padding-right: 50px;
height: 1000px;
}
.container {
    height: 692px;
    width:80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    align-self: center;
   

.left, .center, .right {
    width: 330px;
    height: 612px;
    background-color: #F5F4F9;
    margin-top: 50px;
    margin-left: 25px;
    position:relative;
   
   .popular {
    display: none;
    .circle1 {
        position:absolute;
        right: 10px;
        top: 10px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #fd8d7b;
        border: 1px solid #fd8d7b ;
       }
   
    .circle2 {
        position:absolute;
        right: 14px;
        top: 14px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fd8d7b;
    border: 2px solid #fd8d7b ;
   }
   .circle3 {
    position:absolute;
    right: 25px;
    top: 25px;
width: 45px;
height: 45px;
border-radius: 50%;
background-color: #fd8d7b;
border: 2px solid #fd8d7b ;
font-size: 24px;

line-height: 45px;
color: #ffffff;
font-weight: 400;
font-family: "Bebas Neue";
text-align: center;
}
.text--popular{
text-align: center;
    width: 100px;
    height: 30px;
    background-color:#3b4040;
    border-radius: 30px;
    top: 18px;
    right: -35px;
    position:absolute;
    z-index: 3;
    font-size: 16px;
letter-spacing: 1px;
line-height: 30px;
color: #ffffff;
font-weight: 400;
font-family: "Bebas Neue";
transform: translate(50%,50%);
}
.text--popular:before {
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    right: 76px; 
    top: calc(50% - 15px);
    border-top: 15px solid transparent;
    border-right: 30px solid #3b4040;
    border-bottom: 15px solid transparent;}
}

    .text--price {
        height: 45px;
        text-align: center;
        margin-top: 40px;
        display: flex;
        justify-content:center;
       
        .price--dollar {
            
            font-size: 24px;
            letter-spacing: 2px;
            color: #181818;
            font-weight: 100;
            font-family: "Bebas Neue";
            transform: translate(0,-15%);
        }
        .price--num {
            
            font-size: 60px;
            letter-spacing: 5px;
            line-height: 36px;
            color: #181818;
            font-weight: 200;
            font-family: "Bebas Neue";
        }
        .price--end {
            
            font-size: 16px;
letter-spacing: 1px;
line-height: 36px;
color: #181818;
font-weight: 300;
font-family: "Bebas Neue";
transform: translate(0,30%);
        }
       
      
    }
    .head {
        font-size: 24px;
        letter-spacing: 1px;
        color: #181818;
        font-weight: 400;
        font-family: "Bebas Neue";
        margin-top:20px;
        text-align: center;
       } 
       .icons {
        position:absolute;
        font-size: 30px;
        letter-spacing: 2px;
        line-height: 36px;
        color: #181818;
        z-index: 2;
        left: 44%;
        top: 31%;
       }
       .list {
        list-style-type:none;
        position:absolute;
        // border: 2px solid red;
        z-index: 2;
        left: 30%;
        top: 41%;
        font-size: 16px;
line-height: 50px;
color: #181818;
font-weight: 300;
font-family: "Roboto";
       }
       
.inner--top{
    position:absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 25.5%;
    background: #FFFFFF;
    border-radius: 50%;
    z-index: 1;
}
.inner--bot{
    position:absolute;
    width: 100%;
    height: 40%;
    left: 0;
    top: 50%;
    background: #FFFFFF;
    z-index: 1;
   
}
.bottom--text {
    font-size: 11px;
line-height: 53px;
color: #a9a9a9;
font-weight: 300;
font-family: "Roboto";
position:absolute;
z-index: -1;
top: 88%;
left:30%;

}
.button {
    text-align: center;
    width: 205px;
    height: 55px;
    background-color:#6FCFFB;
    border-radius: 55px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    z-index: 2;
    font-size: 18px;
letter-spacing: 1px;
line-height: 53px;
color: #ffffff;
font-weight: 700;
font-family: "Bebas Neue";


}
 

}
.left:hover,  .center:hover, .right:hover {
    width: 370px;
    height: 692px;
   }
   .left:hover .button,  .center:hover .button, .right:hover .button{
    background-color: #FD8D7B;
    top: 85%;
    transform: translate(-50%,-50%);
   }

   .left:hover  .inner--bot, .center:hover .inner--bot, .right:hover .inner--bot {
    top: 45%;  
   }
   .left:hover .bottom--text, .center:hover .bottom--text, .right:hover .bottom--text{
    z-index: 2;
   }
   .center:hover .popular {
       display: block;
   }
}
